
30 2 1 * * /path-to-command/archive.sh -f /path-to-folder-to-be-archived/myfolder -d 30 -a /path-to-newly-created-archive-file-location/archive-of-myfolder
30 2 1 * * php /path-to-command/archive.php -f /path-to-folder-to-be-archived/myfolder -d 30 -a /path-to-newly-created-archive-file-location/archive-of-myfolder
